In [53]:
a = "Ashraf"
b = "Mali"
c = "Sarfraz"
d=""
size=len(a) if len(a)>len(b) and len(b) > len(c) else len(c)   #Ternary Operator

for i in range(size):
#     print(i)
    if i<len(a):
        d+=a[i]
        
    if i<len(b):
        d+=b[i]
        
    if i < len(c):
        d += c[i]
    
print(d)

AMSsaahlrrifarfaz

In [42]:
lst = [5,8,15,19]
print([lst[0]] + [x-y for x, y in zip(lst[1:], lst[:-1])])

[5, 3, 7, 4]

In [10]:
def multiadd(x):
    return x*x*x

list1 = list(map(int, input().strip().split()))

a = list(map(multiadd, list1))
print(list(a))

1 2 3 4
[1, 8, 27, 64]

In [43]:
dic1 = {'1':['a', 'b'], '2':['c', 'd']}
for i in dic1['1']:
    for j in dic1['2']:
        print(i+j)

ac
ad
bc
bd

In [42]:
dic2 = {'1':['a', 'b'], '2':['c', 'd']}
a=[i+j for i in dic2['1'] for j in dic2['2']]
for i in a:
    print(i)

ac
ad
bc
bd

In [32]:
my_dict= {'1':['a', 'b'], '2':['c', 'd']}
my_list= list(my_dict.values())
for i in my_list[0]:
    for j in my_list[1]:
        print(i+j)

ac
ad
bc
bd

In [47]:
from itertools import product

d ={'1':['a','b'], '2':['c','d']}
for x, y in product(*d.values()):
    print(x + y)

ac
ad
bc
bd

In [51]:
dic1 = {'sarfraz':31, 'junaid':22, 'ali':40, 'ashraf':21, 'khalid':26}

list1=list(dic1.values())
list1.sort(reverse=True)
list2=list1[:3]

dic2={}
for i in list2:
    for j in dic1.keys():
        if dic1[j]==i:
            dic2.update({j:dic1[j]})
print(dic2)

{'ali': 40, 'sarfraz': 31, 'khalid': 26}

In [54]:
my_dict=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
# Expected Output: Counter({'item1': 1150, 'item2': 300})

d={}
for x in my_dict :
    if x['item'] not in d :
        d.update({x['item'] : x['amount']})
        
    else :
        d[x['item']] = d[x['item']] + x['amount']
print(d)

{'item1': 1150, 'item2': 300}

In [4]:
my_dict=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
# Expected Output: Counter({'item1': 1150, 'item2': 300})

d={}
for x in my_dict :
#     print(x['amount'])
    if x['item'] not in d :
        d.update({x['item'] : x['amount']})
        
    else :
        d[x['item']] += x['amount']
print(d)

{'item1': 1150, 'item2': 300}

In [5]:
a = {}
a['num']=100
a['num']+=9
print(a)

{'num': 109}

In [ ]:
nputs= ['aqm', 'technologies', 'ghatkopar']

In [34]:
lst = [1,2,3,4]
a=list(zip(lst[1:], lst[:-1]))
b=[]
for i in a:
    print(i[0]*i[1])

2
6
12

In [25]:
lst = [1,2,3,4]
for i in range(1,len(lst)):
    for j in range(i+1, len(lst)):
        print(lst[i]*lst[j])

6
8
12

In [47]:
lst = [1,2,3,4]    #output=[24, 12, 8, 6]
list1=[]
mul=1
for idx1 in range(len(lst)):
    for idx2 in range(len(lst)):
        if idx1!=idx2:
            mul*=lst[idx2]
    list1.append(mul)
    mul=1
print(list1)

[24, 12, 8, 6]

In [37]:
x,y='12'
print(x,y)
y,z='34'
print(x+y+z)

1 2
134

In [45]:
a,b='12'
print(a,b)

1 2

In [69]:
lst1 = [4,2,1,1,2]
lst2=[]
n=1
for i in lst1:
    for j in lst1:
        if i+n >= j:
            var=True
        else:
            var=False
            break
    lst2.append(var)
print(lst2)

[True, False, False, False, False]

In [22]:
lst1= ['aqm', 'aaqmaaa', 'aaqma', 'aaqmaa', 'asd']
a = 'aeiou'

max_vowel = ""
max_len = 0
for element in lst1:
    vowel=len([j for j in element if j in a])
    if vowel > max_len:
        max_len = vowel
        max_vowel = element
print(max_vowel)

aaqmaaa

In [11]:
lst1= ['aqm', 'technologies', 'ghatkoooooopar', 'pythonprogramming']
a = 'aeiou'

for element in lst1:
    vowel=len([j for j in element if j in a])
    print(vowel)

1
5
8
4

In [28]:
lst1= ['aqm', 'technologies', 'ghatkoooooopar', 'pythonprogramming']
a = 'aeiou'

word =""
for element in lst1:
    b=[]
    for j in element:
        if j in a:
            b.append(j)
        print(len(b))

1
1
1
0
1
1
1
1
2
2
3
3
4
5
5
0
0
1
1
1
2
3
4
5
6
7
7
8
8
0
0
0
0
1
1
1
1
2
2
2
3
3
3
4
4
4

In [12]:
a = {'sarfraz':30, 'junaid':22}
a.update({'junaid':25})
print(a)

{'sarfraz': 30, 'junaid': 25}

In [17]:
a={}
b = {"name":'haris'}
c = {'language':'python'}
a.update({'student':b, 'course':c})
print(a)

{'student': {'name': 'haris'}, 'course': {'language': 'python'}}

In [37]:
a = {'student':{}, 'course':{}, 'Address':{} }
a['student']={'name':'sarfraz', 'Age':30}
a['course'].update({'language':'python', 'virson':3.10})
a['Address']={'city':'mumbai', 'state':'maharashtra', 'pincode':'400070'}
print(a)

{'student': {'name': 'sarfraz', 'Age': 30}, 'course': {'language': 'python', 'virson': 3.1}, 'Address': {'city': 'mumbai', 'state': 'maharashtra', 'pincode': '400070'}}

In [48]:
a['student']['name']

'sarfraz'

In [8]:
dic1={'student': {'name':'sarfraz', 'Age': 30}, 'course': {'language': 'python', 'virson': 3.1}, 'Address': {'city': 'mumbai', 'state': 'maharashtra', 'pincode': '400070'}}
for i in dic1.values():
    for j in i.items():
        print(j)
#         print(j[0], j[1])

('name', 'sarfraz')
('Age', 30)
('language', 'python')
('virson', 3.1)
('city', 'mumbai')
('state', 'maharashtra')
('pincode', '400070')

In [8]:
dic1={'student': {'name':'sarfraz', 'Age': 30}, 'course': {'language': 'python', 'virson': 3.1}, 'Address': {'city': 'mumbai', 'state': 'maharashtra', 'pincode': '400070'}}

for i in dic1:
    for j in dic1[i]:
        print(j , dic1[i][j])

name sarfraz
Age 30
language python
virson 3.1
city mumbai
state maharashtra
pincode 400070

In [3]:
def process_string(source):
    new = ''
    while source:
        counter = 0
        first_char = source[0]
        while source and source[0] == first_char:
            counter += 1
            source = source[1:]
        new += f'{first_char}{counter}'
    return new

str1='AAABBCCCDAA'    
print(process_string(str1))

A3B2C3D1A2

In [21]:
s = 'aabbcca'
out = ''
c = 1
for i in range(len(s)):
    if i < len(s)-1 and s[i] == s[i+1]:
        c += 1
    else:
        out += s[i] + str(c)
        c = 1
print(out)

a2b2c2a1

In [37]:
list1 = [11,12,11,11,12,12,2]

for i in range(len(list1)):
    count=0
    for j in range(i,len(list1)):
        if list1[i] == list1[j]:
            count+=1
    print(count)

3
3
2
1
2
1
1

In [11]:
dic = [{"name":"raja","amount":2354},{"name":"Vini","amount":"2345"},
 {"name":"raja","amount":2354.90},{"name":"raja","amount":"2354.33"}]
b = []
e = {}
for i in dic:
    b.append(float(i["amount"])) 
c = (dic[0])
dic[0]['amount']=sum(b)
print(dic)

[{'name': 'raja', 'amount': 9408.23}, {'name': 'Vini', 'amount': '2345'}, {'name': 'raja', 'amount': 2354.9}, {'name': 'raja', 'amount': '2354.33'}]

In [19]:
dic = {'n1':[2,3,1], 'n2':[5,1,2], 'n':[3,2,4]}
for i, j in dic.items():
    print(i,j)

n1 [2, 3, 1]
n2 [5, 1, 2]
n [3, 2, 4]

In [20]:
a = [1,2,3,4]
for x in a:
    if (x%2)==0:
        print("ODD")
    else:
        print("even")

even
ODD
even
ODD