In [ ]:
Write a Python program to combine two dictionary adding values for common keys.

In [16]:
dic1 = {'a':100, 'b':200, 'c':300}
dic2 = {'a':200, 'b':300, 'd':300}
for key in dic1:
    if key in dic2:
        dic2[key] = dic1[key]+dic2[key]
    else:
        dic2[key] = dic1[key]
print(dic2)

{'a': 300, 'b': 500, 'd': 300, 'c': 300}

In [11]:
dic = [{"name":"raja","totalPremium":2354},{"name":"Vini","totalPremium":"2345"},
 {"name":"raja","totalPremium":2354.90},{"name":"raja","totalPremium":"2354.33"}]

data = [float(i['totalPremium']) for i in dic]
print(sum(data))

9408.23

In [2]:
stores=[]
stores.append({'id': 1, 'name': 'sarfraz', 'books': 'python'})
print(stores)

[{'id': 1, 'name': 'sarfraz', 'books': 'python'}]

In [11]:
dict1 = [{'a':2, 'b':1, 'c':101}, {'a':1, 'b':0, 'c':200}, {'a':5, 'b':100, 'c':3}]
for i in range(len(dict1)):
    for j in range(len(dict1)):
        if dict1[i]['c'] < dict1[j]['c']:
            dict1[i],dict1[j] = dict1[j],dict1[i]
print(dict1)

[{'a': 5, 'b': 100, 'c': 3}, {'a': 2, 'b': 1, 'c': 101}, {'a': 1, 'b': 0, 'c': 200}]

In [12]:
from collections import OrderedDict
 
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
dict1 = OrderedDict(sorted(dict1.items()))
print(dict1)

OrderedDict([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

In [4]:
dict1 =[2,4,6,1,3]
for i in range(len(dict1)):
    for j in range(len(dict1)):
        if dict1[i] < dict1[j]:
            dict1[i],dict1[j] = dict1[j],dict1[i]
            print(dict1)

[4, 2, 6, 1, 3]
[6, 2, 4, 1, 3]
[2, 6, 4, 1, 3]
[2, 4, 6, 1, 3]
[1, 4, 6, 2, 3]
[1, 2, 6, 4, 3]
[1, 2, 4, 6, 3]
[1, 2, 3, 6, 4]
[1, 2, 3, 4, 6]

In [10]:
def sort_tuple(list1):
    for i in range(len(list1)):
        for j in range(len(list1)):
            if list1[i][1]<list1[j][1]:
                list1[i], list1[j] = list1[j], list1[i]
    return list1
            
tup =[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
list1=sort_tuple(tup)
print(list1)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [11]:
a = {'ADDA':1, 'MADAM':2, 'TILAK':3, 'SAKINAKA':1, 'MOM':6}
count=0
for i in a:
#     print(i)
    if i[0] == i[-1]:
        count += 1
print(count)

3

In [54]:
nums = [1,2,3,4,4,3,2,1]
n = int(len(nums)/2)
list1 = nums[0:n]
list2 = nums[n:2*n]
list3=[]
for i in range(n):
    print(i)
    list3.append(list1[i])
    list3.append(list2[i])
print(list3)

0
1
2
3
[1, 4, 2, 3, 3, 2, 4, 1]

In [ ]:
list=[4,54,3,4,5,6,4,23]
output[4,5,3,4]

In [53]:
a=[4,54,3,4,5,6,4,23]
print(a[4:7:-1])

[]

In [52]:
a=[4,54,3,4,5,6,4,23]
print(a[-2::-2])

[4, 5, 3, 4]

In [16]:
a = [2,3,1,5,4]
n = 3
b = []
for x in a:
    n = 3
    count=0
    n+=x
    print(n)
    for i in a:
        if n >= i:
            count += 1
            if count == len(a):
                b.append(True)
        else:
            b.append(False)
print(b)

5
6
4
8
7
[True, True, False, True, True]

In [7]:
x = ['a','b','c','d']
for x[-2] in x:
    print(x[-2])

a
b
b
d

In [1]:
com = complex('3i+4j')
print(com)

ValueError: complex() arg is a malformed string

In [4]:
com = complex('5.2')
print(com)

(5.2+0j)

In [7]:
real = 2
imaginary = 3
complex_number = str(real) + '-' + str(imaginary) + 'j'
print(type(complex_number))

<class 'str'>

In [18]:
str1 = 'sarfraz 14$ sarfraz'

print(str1)

sarfraz 14$ sarfraz

In [8]:
a = 'hello world'
b = bytes(a, 'utf-8')
print(b)

b'hello world'