### 1.Find the student who has Highest marks ? Input : student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}} Output : {'xyz':78}

In [45]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
def maximum():
    maxim = 0
    std = ''
    for i in student:
        score = student.get(i)['score']
        if score > maxim:
            maxim = score
            std = i
    return {std:maxim}
a = maximum()
print(a)

{'Talha': 78}

### 2. Sort the list on the basis of second element in the tuple ?
    Sample Input = [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
    Sample Output = [(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]Ì€

In [1]:
from operator import itemgetter
lst_tup = [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
lst=sorted(lst_tup, key=itemgetter(1))
print(lst)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [1]:
def sort_tuple(list1):
    for i in range(len(list1)):
        for j in range(len(list1)):
            if list1[i][1]<list1[j][1]:
                list1[i], list1[j] = list1[j], list1[i]
    return list1
            
tup =[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
list1=sort_tuple(tup)
print(list1)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [6]:
def Sort_Tuple(tup):
     
    # getting length of list of tuples
    lst = len(tup)
#     print("lst",lst)
    for i in range(0, lst):
         
        for j in range(0, lst-i-1):
            if (tup[j][1] > tup[j + 1][1]):
                temp = tup[j]
#                 print("tem",temp)
                tup[j]= tup[j + 1]
#                 print("tup[j]",tup[j])
               
                tup[j + 1]= temp
    return tup
 
# Driver Code
tup =[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
       
print(Sort_Tuple(tup))

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [10]:
def Sort_Tuple(tup):
     
    lst = len(tup)
    print('len:', lst)
    for i in range(0, lst):
         
        for j in range(0, lst-i-1):
            if (tup[j][1] > tup[j + 1][1]):
                temp = tup[j]
                tup[j]= tup[j + 1]
               
                tup[j + 1]= temp
    return tup
 
tup =[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
       
a=Sort_Tuple(tup)
print(a)

len: 6
[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

### 3.  Swap adjacent elements in a list without using inbuilt functions?

In [67]:
lst = [1,2,3,4,5,6]
for i in range(0,len(lst),2):
    lst[i],lst[i+1] = lst[i+1], lst[i]
print(lst)

[2, 1, 4, 3, 6, 5]

In [1]:
def swap(lst,y,z):
    lst[y],lst[z]=lst[z],lst[y]
    return lst

lst1 = [1,2,3,4,5,6]
a=swap(lst1, 0, 1)
print(a)

[2, 1, 3, 4, 5, 6]

### 4. Write a program to enter the number till the user wants and at the end it should display the sum of all numbers entered.(using while loop)

In [1]:
while True:
    num1 = int(input("enter first number"))
    num2 = int(input("enter second number"))
    print("sum:-",num1+num2)
    ans = input('Do you want to continue?(y/n):')
    ans.lower()
    if ans !='y':
        break

enter first number3
enter second number5
sum:- 8
Do you want to continue?(y/n):n

### 5. Find the unique number in a list using function?
    Sample Input : [2,1,4,3,1,4,2]
    Sample Output : 3

In [8]:
lst=[2,1,4,3,1,4,2]
s=0
for i in lst:
    s^=i
print(s)

3

In [13]:
lst=[2,1,4,3,1,4,2]
a = []
for i in lst:
    if lst.count(i)==1:
        a.append(i)
        print(a)

[3]

In [4]:
def unique(x):
    a = []
    for i in lst:
        if lst.count(i)==1:
            a.append(i)
            print(a)
lst=[2,1,4,3,8,1,4,2]
unique(lst)

[3]
[3, 8]

### 6. Create a iterator to find all the Power of 3?

In [4]:
class Poweroftwo():
    def __init__(self, max1=0):
        self.max=max1
        
    def __iter__(self):
        self.n=0
        return self
    
    def __next__(self):
        if self.n <= self.max:
            result = 2** self.n
            self.n += 1
            return result
        else:
            raise StopIteration
            
numbers = Poweroftwo(3)
i = iter(numbers)
print(next(i))
print(next(i))
print(next(i))
print(next(i))
# print(next(i))
# for i in Poweroftwo(5):
#     print('forloop:-',i)

1
2
4
8

### 7. Give example of Multilevel Inheritence and use super function in the same

In [19]:
class Vehicle:
    def vehicle_info(self):
        print('Inside vehicle class')
# child class 1
class Car(Vehicle):
    def car_info(self):
        print('Inside car class')
# child class 2
class Sportcar(Car):
    def sportcar_info(self):
        print('Inside Sportcar class')
# create object of sportcar
s_car = Sportcar()

# access vehicle's ans car info using sportcar object
s_car.vehicle_info()
s_car.car_info()
s_car.sportcar_info()

Inside vehicle class
Inside car class
Inside Sportcar class

In [3]:
class Student:
    def __init__(self, name):
        self.name=name
        
class Teacher(Student):
    def __init__(self, name,age):
        self.age=age
        super().__init__(name)
        
class Principle(Teacher):
    def __init__(self,name,age,school):
        self.school=school
        super().__init__(name,age)
        self.age=35
        print(self.name,self.age)
    
    def info(self):
        print('Name:',self.name,'age:',self.age,'school:',self.school)
        
        
std=Principle('Sarfraz',30,'abc')
std.info()
# st=Teacher('Ahmad',28)
# print(st.name,st.age)

Sarfraz 35
Name: Sarfraz age: 35 school: abc

### 8. Convert a local variable into global variable and give the methods to access the same

In [3]:
i = 0

def myfunc():
    global i
    while i <5:
        i += 1
    print('local:', i)
        
myfunc()
print('global:', i)

local: 5
global: 5

In [11]:
def show():
    global x
    x=10
    print(x)
show()
print(x)

10
10

### 9. Make a class and implement getter setter methods

In [12]:
class Student:
    def __init__(self, name, age):
        self.name=name
        self.__age=age
        
    def get_age(self):     #getter method
        return self.__age
    
    def set_age(self, age):    #setter method
        self.__age=age
    
std = Student('Sarfraz', 28)
print('Name:', std.name, std.get_age())     # retrieving age using getter
std.set_age(30)                             # changing age using setter
print('Name:', std.name, std.get_age())     # retrieving age using getter

Name: Sarfraz 28
Name: Sarfraz 30

In [29]:
class Student:
    def __init__(self, name, age):
        self.name=name
        self.__age=age
        
    def get_age(self):     #getter method
        return self.__age
    
    def set_age(self,age):    #setter method
        self.__age=age
        
    def modify(self):
        print(self.name,self.__age)
    
    
std = Student('Sarfraz', 28)
print('Name:', std.name, std.get_age())     # retrieving age using getter
std.set_age(34)                             # changing age using setter
print('Name:', std.name, std.get_age())
std.modify()

Name: Sarfraz 28
Name: Sarfraz 34
Sarfraz 34

In [13]:
class Student:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    
    def set_age(self, age):    #setter method
        self.age=age
    
std = Student('Sarfraz', 28)
print('Name:', std.name, std.age)     # retrieving age using getter
std.set_age(30)                             # changing age using setter
print('Name:', std.name, std.age)     # retrieving age using getter

Name: Sarfraz 28
Name: Sarfraz 30

### 10. Find the even and odd from the given list using anonymous function

In [7]:
lst = [10,20,23,25,26]
eve = list(map(lambda x: 'even' if x%2==0 else 'odd', lst))
print(eve)

['even', 'even', 'odd', 'odd', 'even']

### 11. Write syntax for Dictionary comprehension and give benefits of it

In [26]:
dic = {x: x**3 for x in range(10) if x**3 %2==0}
print(dic)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

In [27]:
dic = {x: x**3 for x in range(10) if x**3}
print(dic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

### 12. How to change the behaviour of a function without modifying it ?

In [23]:
def outer(x):
    def inner():
        print('Welcome1!')
        x()
        print('Welcome3!')
    return inner

@outer
def well():
    print('Welcome2!')
well()

Welcome1!
Welcome2!
Welcome3!

### 13. Find the nearest number

In [4]:
test_list = [(10, 20), (3, 4), (78, 76), (9, 8), (19, 23)]

tup = (7, 9)
 
min_dif, res = 999999999, 0
for idx, val in enumerate(test_list):
    dif = abs(tup[0] - val[0])
    print(dif)
    if dif < min_dif:
        min_dif, res = dif, idx

print("The nearest tuple to Kth index element is : ", test_list[res])

3
4
71
2
12
The nearest tuple to Kth index element is :  (9, 8)