In [1]:
import pandas as pd

In [2]:
dic1 = {
    'fetch':[
        {
            'stepname':'Uptime',
            'nodes_status':{
                "INVIKL08ERN2SPCP01CO": "sarfraz",
                "INVIKL08ERN2SPCP02CO": "junaid",
                "INVIKL08ERN2SPCP03CO": "sadik"
            },
            'checkpointId': 22
            
        },
        
        {
            'stepname': 'Card Available',
            'nodes_status':{
                "INVIKL08ERN2SPCP01CO": "khan",
                "INVIKL08ERN2SPCP02CO": 'Chaudhry',
                "INVIKL08ERN2SPCP03CO": "mansoori",
            }
        }
    ]
}

In [3]:
dic2 = []
for i in dic1.values():
    a=i[0]['nodes_status']
    for j in a:
        dic2.append({'NodeName':j})

idx = 0
step = 1
for j in dic1['fetch']:
    a = j['nodes_status']
    for k in a.values():
        dic2[idx].update({'step'+str(step):k})
        idx += 1
    step += 1
    idx = 0
print(dic2)

[{'NodeName': 'INVIKL08ERN2SPCP01CO', 'step1': 'sarfraz', 'step2': 'khan'}, {'NodeName': 'INVIKL08ERN2SPCP02CO', 'step1': 'junaid', 'step2': 'Chaudhry'}, {'NodeName': 'INVIKL08ERN2SPCP03CO', 'step1': 'sadik', 'step2': 'mansoori'}]

In [4]:
df = pd.DataFrame(dic2)
dic5 = {}
for i in df:
    if i != 'NodeName':
        dic5.update({i:'StepName'})

df1 = df.rename(dic5, axis=1)
df1

               NodeName StepName  StepName
0  INVIKL08ERN2SPCP01CO  sarfraz      khan
1  INVIKL08ERN2SPCP02CO   junaid  Chaudhry
2  INVIKL08ERN2SPCP03CO    sadik  mansoori

In [10]:
dic2 = {}
for i in dic1['fetch']:
    a = i['nodes_status']
    for i, j in a.items():
        if i not in dic2:
            dic2.update({i:[j]})
        else:
            dic2[i].append(j)
        
print(dic2)

{'INVIKL08ERN2SPCP01CO': ['sarfraz', 'khan'], 'INVIKL08ERN2SPCP02CO': ['junaid', 'Chaudhry'], 'INVIKL08ERN2SPCP03CO': ['sadik', 'mansoori']}

In [9]:
dic2 = {}
for i in dic1['fetch']:
    a = i['nodes_status']
    for i, j in a.items():
        if i not in dic2:
            dic2.update({i:[j]})
        
print(dic2)

{'INVIKL08ERN2SPCP01CO': ['sarfraz'], 'INVIKL08ERN2SPCP02CO': ['junaid'], 'INVIKL08ERN2SPCP03CO': ['sadik']}

In [75]:
a={'a':[10], 'b':[20]}
a['a'].append(20)
print(a)

{'a': [10, 20], 'b': [20]}

In [45]:
a= []
for i in dic1["fetch"]:
    # print(i["node_status"])
    a.append(i["node_status"])
# print(a)

b ={}
for i in a:
    for j,k in i.items():
        b[j] = []
        if k not in b.items():
            b[j] = [k]
            print(k)
        else:
            b[j].append([k])
            
            
        
            
            
print(b)

Pass
Fail
Pass
Fail
Pass
Fail
{'INVIKL08ERN2SPCP01CO': ['Fail'], 'INVIKL08ERN2SPCP02CO': ['Pass'], 'INVIKL08ERN2SPCP03CO': ['Fail']}

In [58]:
a= []
for i in dic1["fetch"]:
    a.append(i["node_status"])
# print(a)
# print(a[0])

b ={}
for i in range(len(a)):
    for k,v in a[i].items():
        print(k,v)
        b[k] = [v]
    
            
        
            
            
print(b)

INVIKL08ERN2SPCP01CO Pass
INVIKL08ERN2SPCP02CO Fail
INVIKL08ERN2SPCP03CO Pass
INVIKL08ERN2SPCP01CO Fail
INVIKL08ERN2SPCP02CO Pass
INVIKL08ERN2SPCP03CO Fail
{'INVIKL08ERN2SPCP01CO': ['Fail'], 'INVIKL08ERN2SPCP02CO': ['Pass'], 'INVIKL08ERN2SPCP03CO': ['Fail']}

In [67]:
list1 = [{'NodeName': 'INVIKL08ERN2SPCP01CO'}, {'NodeName': 'INVIKL08ERN2SPCP02CO'}, {'NodeName': 'INVIKL08ERN2SPCP03CO'}]
list2 = [{'name':'sarfraz'}, {'name':'junaid'}, {'name':'sadik'}]
idx = 0
for i in list2:
    list1[idx].update({'step1':i['name']})
    idx += 1
print(list1)

[{'NodeName': 'INVIKL08ERN2SPCP01CO', 'step1': 'sarfraz'}, {'NodeName': 'INVIKL08ERN2SPCP02CO', 'step1': 'junaid'}, {'NodeName': 'INVIKL08ERN2SPCP03CO', 'step1': 'sadik'}]

In [10]:
technologies = [
            ("Spark", 22000,'30days',1000.0),
            ("PySpark",25000,'50days',2300.0),
            ("Hadoop",23000,'55days',1500.0)
            ]
df = pd.DataFrame(technologies,columns = ['Courses','Fee','Duration','Discount'])
df

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1500.0

In [1]:
str1 = "anam minhaj sarfarz minhaj minhaj anam"

dic1 = {}
list1 = str1.split()
for i in range(len(list1)):
    a = 1
    for j in range(len(list1)):
        if list1[i] == list1[j] and i != j:
            a += 1
            dic1.update({list1[i]:a})
        
        dic1.update({list1[i]: a})
print(dic1)

{'anam': 2, 'minhaj': 3, 'sarfarz': 1}

In [2]:
str1 = "anam minhaj sarfarz minhaj minhaj anam"
a = str1.split()



dic = {}

for i in a:
    if i not in dic:
        dic[i] = 1
    else:
        dic[i]+=1
print(dic)

{'anam': 2, 'minhaj': 3, 'sarfarz': 1}

In [2]:
list1 = [1, 2, 3, 4, 3, 2, 4]
set1 = set()
output = 0
for i in range(len(list1)-1, -1, -1 ):
    if list1[i] not in set1:
        set1.add(list1[i])
    else:
        output = list1[i]
    
print(output)

2

In [17]:
list1 = ['sarfraz', 'khalid', 'junaid']
b = []
for i in list1:
    b = [i]+b
print(b)

['junaid', 'khalid', 'sarfraz']

In [3]:
a = []
b = ['sarfraz']
c = ['junaid']
print(c+b+a)

['junaid', 'sarfraz']

In [6]:
list1 = [
    ['name', 'age', 'city'],
    ['sarfraz', 32, 'mumbai' ],
    ['sadik', 23, 'vikroli'],
    ['anam', 25, 'sakinaka']
]

In [ ]:
list1 = [
    ['name', 'age', 'city'],
    ['sarfraz', 32, 'mumbai' ],
    ['sadik', 23, 'vikroli'],
    ['anam', 25, 'sakinaka']
]

dic1 = {}
a = 
for i in range(len(list1)):
    for j in range(1,len(list1)):
        dic1.update({list1[i][j]: []})

In [10]:
d = {}
d.update({'name':[12]})
print(d)

{'name': [12]}

In [12]:
class Add:
    count = 0
    def func(self):
        
        self.count += 1
        print(self.count)
        
    def countt(self):
        print(self.count)
obj = Add()
obj.func()
obj.func()
obj.func()
print(Add.count)
obj.countt()

1
2
3
0
3

In [13]:
data = {'india': [500, 1200, 1800], 'pakistan': [100, 200, 500], 'bangladesh': [200, 300, 500]}
data={country:sum(data[country])/3 for country in data }
a = min(list(data.values()))
output = {country: population for country, population in data.items() if population == a }
print(output)

{'pakistan': 266.6666666666667}

In [24]:
a = {'a': 10, 'b': 20}
b=(a.items())
print(b)

dict_items([('a', 10), ('b', 20)])

In [7]:
a = ([('a', 1), ('b', 3)])
print(a)

[('a', 1), ('b', 3)]