# List:
- List is a collection which is Ordered, Mutable, Allows duplicate members, Indexable, Heterogeneous. list are created using square brackets.
- linkedlist(Algorithm) technique use in list data type. insertion slow and searching fast in list
- list is support item assignment

In [4]:
# length of list
list1 = [1,2,'sarfraz',3]
a = (len(list1))
print(a)

4

In [2]:
list1 = [1,2,'sarfraz',3,'ahmad','khan']
print(list1[2:5])

['sarfraz', 3, 'ahmad']

In [21]:
list1 = ['sarfraz','junaid','ahmad','khan']
for i in range(1, len(list1)):
    print(i)
    print(list1[i])

1
junaid
2
ahmad
3
khan

In [22]:
list1 = ['sarfraz','junaid','ahmad','khan',1,2]
for i in range(len(list1)):
    print(i)

0
1
2
3
4
5

In [25]:
# append() accept only one parameter and add element end of the list
list1 = ['sarfraz','junaid','ahmad','khan',1,2]
list1.append('suhail')
print(list1)

# append the nested list at the end
list1.append([450,'ashraf','shadab'])
print(list1)

['sarfraz', 'junaid', 'ahmad', 'khan', 1, 2, 'suhail']
['sarfraz', 'junaid', 'ahmad', 'khan', 1, 2, 'suhail', [450, 'ashraf', 'shadab']]

In [29]:
# use the insert() to add the object at the specify position in the list
# the insert method() accept two parameter, position and object

my_list = ['sarfraz','junaid','ahmad','khan',1,2]
my_list.insert(2,30)
print(my_list)

# insert nested list at a position 2

my_list.insert(2, ['akram',30,'ali'])
print(my_list)

['sarfraz', 'junaid', 30, 'ahmad', 'khan', 1, 2]
['sarfraz', 'junaid', ['akram', 30, 'ali'], 30, 'ahmad', 'khan', 1, 2]

In [35]:
# the extend() will acccept the list of elements and add them at the end of the list
my_list = ['sarfraz', 31, 'ahmad', 'khan', 30]
my_list.extend(['junaid', 22, 'ashraf', 23])
print(my_list)

['sarfraz', 31, 'ahmad', 'khan', 30, 'junaid', 22, 'ashraf', 23]

In [38]:
# modify single item
my_list = ['sarfraz', 31, 'ahmad', 'khan', 30]
my_list[0] = 50
print(my_list)

# modify range of item
my_list[1:3] = [310, 'sarfraz',10, 20, 30]
print(my_list)

[50, 31, 'ahmad', 'khan', 30]
[50, 310, 'sarfraz', 10, 20, 30, 'khan', 30]

In [44]:
# modify all items
my_list = [2, 4, 6, 8,]

# change value of all items
for i in range (len(my_list)):
    square = my_list[i] * my_list[i]
    my_list[i] = square
print(my_list)

[4, 16, 36, 64]

In [76]:
# square of index value

my_list = [2, 4, 6, 8, 10]
for i in range(len(my_list)):
    square = i * i
    my_list[i] = square
    print(square)

0
1
4
9
16

In [70]:
my_list = [2, 4, 6, 8, 10, 12]
for i in range(len(my_list)):
    print(i)
    square = i * i
    my_list[i] = square
    print(my_list)

0
[0, 4, 6, 8, 10, 12]
1
[0, 1, 6, 8, 10, 12]
2
[0, 1, 4, 8, 10, 12]
3
[0, 1, 4, 9, 10, 12]
4
[0, 1, 4, 9, 16, 12]
5
[0, 1, 4, 9, 16, 25]

In [78]:
my_list = [2, 4, 6, 8, 10, 12]
for i in range(len(my_list)):
#     print(i)
    square = i * i
    my_list[i] = square
    print(my_list[i])

0
1
4
9
16
25

In [25]:
# use the remove() to remove the first occurrence of the item from the list
# list.remove() takes exactly one argument
my_list = [1, 1, 2, 3, 'sarfraz', 'khan']
my_list.remove(1)
my_list.remove('khan')
print(my_list)

[1, 2, 3, 'sarfraz']

In [17]:
# remove all occurrence of a specific item
my_list = [1,2,3,4,4,4]
for item in my_list:
    my_list.remove(4)
    print(my_list)

[1, 2, 3, 4, 4]
[1, 2, 3, 4]
[1, 2, 3]

In [9]:
# use the pop() to remove the item at the given index
# pop expected at most 1 argument

my_list = [10, 20, 30, 'sarfraz', 'khan']
my_list.pop(2)
print(my_list)

# remove item without passing index number remove last item of list
my_list.pop()
print(my_list)

[10, 20, 'sarfraz', 'khan']
[10, 20, 'sarfraz']

In [11]:
# use del keyword along with the list slicing to remove the range of items
mylist = [10, 'sarfraz', 20, 'ahmad', 30, 'khan']
del mylist[2:5]
print(mylist)

# remove all items starting from index 3
mylist = [10, 'sarfraz', 20, 'ahmad', 30, 'khan']
del mylist[3:]
print(mylist)

[10, 'sarfraz', 'khan']
[10, 'sarfraz', 20]

In [26]:
mylist = [10, 'sarfraz', 20, 'ahmad', 30, 'khan']
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [23]:
# use the list clear() to remove all items from the list. the clear() truncates the list.
mylist = [10, 'sarfraz', 20, 'ahmad', 30, 'khan']
mylist.clear()
print(mylist)

# del mylist
# print(mylist)

[]

In [7]:
# use the index() output index number of value
mylist = [10, 'sarfraz', 20, 'ahmad', 30, 'khan']
print(mylist.index('khan'))
print(mylist.index(30))
mylist.index(10)
mylist.index(20)

5
4

2

In [7]:
# concatenation of two list
mylist1 = ['sarfraz', 'ahmad', 'khan']
mylist2 = ['junaid', 'shaikh']
mylist1.extend(mylist2)
print(mylist1)
print(mylist1.extend(mylist2),mylist1)

['sarfraz', 'ahmad', 'khan', 'junaid', 'shaikh']
None ['sarfraz', 'ahmad', 'khan', 'junaid', 'shaikh', 'junaid', 'shaikh']

In [15]:
# sort list in ascending order
a = [1,120,13,99,14,80,90]
a.sort()
for i in a:
    pass
print(i)

120

In [10]:
# sort list in descending order
a = [1,6,2,9,5,8,3,4,]
a.sort(reverse=True)
print(a)

[9, 8, 6, 5, 4, 3, 2, 1]

In [3]:
# use max() return the maximum value in the list
mylist = [50, 60, 40, 80, 100, 90]
a = max(mylist)
print(a)

# use min() return the minimum value in the list
print(min(mylist))

100
40

In [12]:
# use count() to find how many duplicate number
mylist = ['sarfraz', 'khan', 'khan', 1, 1, 1]
a = mylist.count('khan')
print(a)
print(mylist.count(1))

2
3

In [16]:
# use sum() return the sum of all elements in the list
mylist = [10, 20, 30,40,50]
print(sum(mylist))

150

# Deep copy
###### any changes made in original list will reflect in the new list
using assignment operator

In [30]:
mylist1 = ['sarfraz', 'khan', 30]
newlist = mylist1
print(newlist)

# making changes in the original list
mylist1.append('junaid')
newlist.append('shaikh')
print(mylist1)
print(newlist)

['sarfraz', 'khan', 30]
['sarfraz', 'khan', 30, 'junaid', 'shaikh']
['sarfraz', 'khan', 30, 'junaid', 'shaikh']

# shallow copy
###### any changes made in original list will not reflect in the new list  
using copy()method

In [32]:
mylist = ['sarfraz', 'khan', 30]
newlist = mylist.copy()
mylist.append('ahmad')
print(mylist)
print(newlist)

['sarfraz', 'khan', 30, 'ahmad']
['sarfraz', 'khan', 30]

# Nested list
the list can contain another list which in turn contains another list and so on.

In [22]:
nestedlist = [[1,2,'s', 3], [4, 5, 'a', 6]]
print(nestedlist)
print(nestedlist[0])

[[1, 2, 's', 3], [4, 5, 'a', 6]]
[1, 2, 's', 3]

In [23]:
nestedlist = [[1,2,'s', 3], [4, 5, 'a', 6]]
# accessing the third element of the 2nd list
print(nestedlist[1][2])

a

In [30]:
nestedlist = [[1,2,'s', 3], [4, 5, 'a', 6]]
for i in nestedlist:
    print('list', i, 'element')
    for j in i:
        print(j)

list [1, 2, 's', 3] element
1
2
s
3
list [4, 5, 'a', 6] element
4
5
a
6

In [29]:
nestedlist = [[1,2,'s', 3], [4, 5, 'a', 6]]
for i in nestedlist:
    for j in i:
        print(j)

1
2
s
3
4
5
a
6

# List Comprehension
###### syntax : expression, iterable, condition
###### list comprehension offers a shorter syntax when you want to create a new list based on the value of an existing list (iterables)

In [31]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = []
for x in fruits:
    if 'a' in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [33]:
# list comprehension
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = [x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana', 'mango']

In [4]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
print([x for x in fruits if 'a' in x])

['apple', 'banana', 'mango']

In [17]:
number = [1, 2, 3, 4, 5, 6, 7, 8]
squarelist = [num**2 for num in number if num %2 == 0]
print(squarelist)

[4, 16, 36, 64]

# we can create a list when the input is a continuous range of numbers

In [19]:
squarelist = [i**2 for i in range(20) if i %2 == 1]
print(squarelist)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]