# Tuple :
- Tuple is a collection which is Ordered, Immutable, Allows duplicate members, Indexable, Heterogeneous. Tuple are created using parenthesis().
- linkedlist(algorithm) technique use in Tuple data type.
- Tuple is not support item assignment.

In [6]:
tuple1 = tuple(('sarfraz'))
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('s', 'a', 'r', 'f', 'r', 'a', 'z')

In [12]:
tuple1 = ('sarfraz')
print(type(tuple1))
print(tuple1)

<class 'str'>
sarfraz

# packing a collection into a variable
Packing can be used when we want to collect multipla values in a singal variable.

In [13]:
a = 10
b = 20
c = 30
d = 40
tuple1 = a,b,c,d
print(tuple1)

(10, 20, 30, 40)

# unpacking a collection into a variable
in the reverse operation of tuple packing

In [14]:
tuple1 = 10,20,30,40
a,b,c,d = tuple1
print(a,b,c,d)

10 20 30 40

In [23]:
# Indexing
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(3):
    print(tuple1[i])

P
Y
T

In [30]:
# Indexing error
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(7):
    print(tuple1[i])

P
Y
T
H
O
N

IndexError: tuple index out of range

In [32]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
print(tuple1[1.0])

TypeError: tuple indices must be integers or slices, not float

In [43]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
print(tuple1[-3])

H

In [51]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(-6, 0):
    print(i)
#     print(tuple1[i])

-6
-5
-4
-3
-2
-1

In [59]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a = tuple1[-5:-1]
print(a)

(6, 7, 8, 9)

In [60]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a = tuple1[-5:]
print(a)

(6, 7, 8, 9, 10)

In [65]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
limit = tuple1.index(50, 5, 8)
print(limit)

ValueError: tuple.index(x): x not in tuple

# Adding and changing items in a Tuple

In [66]:
tuple1 = (1, 2, 3, 4)
list1 = list(tuple1)
list1.append(5)
list1.append(6)
tuple1 = tuple(list1)
print(tuple1)

(1, 2, 3, 4, 5, 6)

# Modify nested items of a tuple
if one of the items is itself a mutable data type as a list, then we can change its values in the case of a nested tuple.

In [69]:
tuple1 = (1, 2, 3, ['khan', 30, 40])
print(tuple1)
# modify last item's first vlue
tuple1[3][0]  = 'ahmad'
print(tuple1)

(1, 2, 3, ['khan', 30, 40])
(1, 2, 3, ['ahmad', 30, 40])

In [70]:
# del keyword will delete the entire tuple
tuple1 = (1, 2, 3, 'ahmad')
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [72]:
tuple1 = ('ahmad', 'khan', 'khan', 'khan')
count = tuple1.count('khan')
print(count)

3

# copying a tuple
we can create  a copy of Tuple using the assignment operator'='. this operation will create only a reference copy and not a deep copy because tuples are immutable .

In [7]:
tuple1 = (1,2,3,4,5)
#copy tuple
tuple2 = tuple1
# print(tuple2)
# convert in list
list1 = list(tuple1)
list1.append(6)
# convert in tuple
tuple1 = tuple(list1)
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)

# concatenating two tuple

In [23]:
mytuple1 = (10, 20, 30, 40, 50)
mytuple2 = (60, 70, 80, 90, 100)
mytuple3 = sum((),(mytuple1, mytuple2))
print(mytuple3)

((10, 20, 30, 40, 50), (60, 70, 80, 90, 100))

In [62]:
mytuple1 = (10, 20, 30, 40, 50)
mytuple2 = (60, 70, 80, 90, 100)
mytuple3 = sum((mytuple1, mytuple2),())
print(mytuple3)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

# using the chain() function
the chain function is part of the itertools module in python. it makes an iterator,which will return all the first iterable items which will be followed by the second iterable. we can pass any number of tuples to the chain() function.

In [25]:
import itertools

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8, 9, 10)
tuple3 = tuple(item for item in itertools.chain(tuple1, tuple2))
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# nested Tuple
when Tuple contains another Tuple as its member then it is called a nested Tuple.

In [43]:
nestedtuple = ((10, 20, 30,), (40, 50, 60), 'Python')
# access the first time of the third tuple
print(nestedtuple[2][0:2])
print('\n')

for i in nestedtuple:
    print(i)
    for j in i:
        print(j)
    print('\n')

Py


(10, 20, 30)
10
20
30


(40, 50, 60)
40
50
60


Python
P
y
t
h
o
n

In [49]:
# use max() return the maximum value in the Tuple
tuple1 = ('khan', 'ahmad','sarfraz')
print(max(tuple1))

# use min() return the minimum value in the Tuple
print(min(tuple1))

tuple1 = (10, 20, 30, 40)
print(max(tuple1))
print(min(tuple1))

we can't find the max() and min() for a heterogeneous tuple. it will throw type error

sarfraz
ahmad
40
10

In [59]:
tuple1 = (10, 20, True)
print(all(tuple1))

tuple1 = (0,10, 20, True)
print(all(tuple1))

tuple1 = (10, 20, True, False)
print(all(tuple1))

tuple1 = ()
print('Empty Tuple all():',all(tuple1))

True
False
False
Empty Tuple all(): True

In [57]:
tuple1 = (10, 20, True)
print(any(tuple1))

tuple1 = (0,10, 20, True)
print(any(tuple1))

tuple1 = (10, 20, True, False)
print(any(tuple1))

tuple1 = ()
print('Empty Tuple any():',any(tuple1))

True
True
True
Empty Tuple any(): False

In [71]:
a = (1,2,3,4,5)
print(a[0:4:2])

(1, 3)