# Set :
- Set is a collection which is Unordered, Mutable, Don't allow duplicate members, Unindxable, Heterogeneous.Set are created using curli brackets.{}
- Hashkey(algorithm) technique use in set data type.
- Insertion fast and Searching slow. Set it is unpredictible
- Don't support item assignment
- Set mutable but we can add or remove only we cannot modify item's value.

In [19]:
# create a set from a list
mylist = [10, 20, 30, 40, 10, 40, 10, 30]
myset = set(mylist)
print(myset)

{40, 10, 20, 30}

In [23]:
myset = {'sarfraz', 'ahmad', [10, 20, 30]}
print(myset)

TypeError: unhashable type: 'list'

In [48]:
# checking if an item exists in set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
if 'khan' in myset:
    print('hai')
else:
    print('nhi')
    
print('junaid' in myset)

hai
False

In [49]:
# len() return a count of total item in a set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
print(len(myset))

6

# Adding items to a set

In [56]:
# add() is used to add one item to the set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.add('sadik')
print(myset)

{'ahmad', 'sarfraz', 20, 'sadik', 10, 'khan', 30}

In [58]:
# update() is used to add multiple items to the set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update(['sadik', 'ashraf', 1, 2])
print(myset)

{1, 'ahmad', 2, 'sadik', 10, 'khan', 20, 'sarfraz', 30, 'ashraf'}

In [71]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update({'sadik', 'ashraf', 1, 2})
print(myset)

{1, 'ahmad', 2, 'sadik', 'ashraf', 10, 'khan', 20, 'sarfraz', 30}

In [70]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update(('junaid',))
print(myset)

{'ahmad', 'sarfraz', 20, 'junaid', 10, 'khan', 30}

In [4]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update(('junaid'))
print(myset)

{10, 'u', 20, 'ahmad', 'khan', 30, 'd', 'j', 'i', 'n', 'a', 'sarfraz'}

In [8]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update('saud','k')
print(myset)

{10, 'k', 'u', 20, 'ahmad', 'khan', 30, 'd', 's', 'a', 'sarfraz'}

# Removing items from a set

In [11]:
# remove() is used to remove singal item if not present value will throw keyerror
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.remove(50)
print(myset)

KeyError: 50

In [12]:
# discard() is used to remove singal item if not present value will not throw any error
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.discard(50)
print(myset)

{'sarfraz', 20, 'ahmad', 10, 'khan', 30}

In [19]:
# pop() is used to delete any randome item from a set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.pop()
print(myset)

{20, 'ahmad', 10, 'khan', 30}

In [23]:
# clear() is used to remove all items from the Set. The output will be an empty set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.clear()
print(myset)

set()

In [24]:
# Delete entire set()
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
del myset
print(myset)

NameError: name 'myset' is not defined

# Set operations

In [29]:
# union() is used all the items of both sets will be returned. only duplicate items will be dropped
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'junaid', 'sadik', 'ashraf'}
myset3 = {40, 50}
myset4 = myset1.union(myset2,myset3)
print(myset4)

{'junaid', 'ashraf', 40, 10, 'sadik', 50, 20, 'ahmad', 'sarfraz', 'khan', 30}

In [28]:
# or |  is used all the items of both sets will be returned. only duplicate items will be dropped
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'junaid', 'sadik', 'ashraf'}
myset3 = {50, 40}
myset4 = myset1|myset2|myset3
print(myset4)

{'junaid', 'ashraf', 40, 10, 'sadik', 50, 20, 'ahmad', 'sarfraz', 'khan', 30}

In [32]:
# intersection() of two set will return only the common elements in both sets. the intersection can be done using the & operator
# and intersection() method
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 30}
myset3 = myset1.intersection(myset2)
print(myset3)

{10, 20, 30}

In [33]:
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 30}
myset3 = myset1&myset2
print(myset3)

{10, 20, 30}

In [4]:
# intersection_update() is used only common elements will be return  in the both set and update original set with common
# elements
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 30}
myset1.intersection_update(myset2)
print(myset1)

{10, 20, 30}

In [16]:
# difference() is used to remove same items in the first and second set
# returns the items that are present only in the first set
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 'junaid', 30, 40, 'khan'}
print(myset1 - myset2)

myset3 = myset1.difference(myset2)
print(myset3)

{'sarfraz', 'ahmad'}
{'sarfraz', 'ahmad'}

In [19]:
# difference_update() is used to remove same items in the first and second set
# returns the items that are present only in the first set. and update first set with present items
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 'junaid', 30, 40, 'khan'}
myset1.difference_update(myset2)
print(myset1)

{'sarfraz', 'ahmad'}

In [3]:
# Symmetric_difference() operation returns the elements that are unique in both sets. This is the opposite of the intersection.
# This is performed using the ^ operator or by using the symmetric_difference() method.

myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 'junaid', 30, 40, 'khan'}
print(myset1 ^ myset2)

myset11 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset12 = {10, 20, 'junaid', 30, 40, 'khan'}
uniqueitem = myset11.symmetric_difference(myset12)
print(uniqueitem)

{'ahmad', 40, 'junaid', 'sarfraz'}
{'ahmad', 40, 'junaid', 'sarfraz'}

In [6]:
# symmetric_difference_update() is used to update the original set with the unique elements from both
myset11 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset12 = {10, 20, 'junaid', 30, 40, 'khan'}
myset11.symmetric_difference_update(myset12)
print(myset11)

{'ahmad', 40, 'junaid', 'sarfraz'}

In [22]:
# deep copy
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = myset1
myset2.add('junaid')
print(myset1)

{'khan', 20, 'ahmad', 10, 'junaid', 30, 'sarfraz'}

In [24]:
# shallow copy
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = myset1.copy()
myset2.add('junaid')
print(myset1)

{'khan', 20, 'ahmad', 10, 30, 'sarfraz'}

In [27]:
# shallow copy
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = set(myset1)
myset2.add('junaid')
print(myset1)

{'khan', 20, 'ahmad', 10, 30, 'sarfraz'}

# subset and superset

In [31]:
# issubset() is used to find whether a set is subset of another set
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'ahmad', 10, 20}
subset = (myset2.issubset(myset1))
print(subset)

myset11 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset12 = {'ahmad', 10, 20}
subset = (myset11.issubset(myset12))
print(subset)

True
False

In [34]:
# issuperset() is used to find whether a set is issuperset of another set

myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'ahmad', 10, 20}
subset = (myset2.issuperset(myset1))
print(subset)

myset11 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset12 = {'ahmad', 10, 20}
subset = (myset11.issuperset(myset12))
print(subset)

False
True

In [42]:
# isdisjoint() is used to return if common item in set1 and set2 output False otherwise True
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'ahmad', 10, 20}
myset3 = {'junaid', 'suhail', 50}
disjoin = myset1.isdisjoint(myset2)
print('1',disjoin)

myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'ahmad', 10, 20}
myset3 = {'junaid', 'suhail', 50}
disjoint = myset1.isdisjoint(myset3)
print('2',disjoint)

1 False
2 True

In [50]:
# sorted() is used to sort the set. This will return a new list and will not update the original set.
myset1 = {50, 30, 10, 40, 20}
sorted_list_set = sorted(myset1)
print(sorted_list_set)
sorted_set = set(sorted_list_set)
print(sorted_set)

[10, 20, 30, 40, 50]
{40, 10, 50, 20, 30}

In [51]:
set1 = {1, 2, 3, 4}
set2 = {0, 2, 4, 6, 8}  # set with one false value '0'
set3 = {True, True}  # set with all true
set4 = {True, False}  # set with one false
set5 = {False, 0}  # set with both false values

# checking all true value set
print('all() With all true values:', all(set1))  # True
print('any() with all true Values:', any(set1))  # True

# checking one false value set
print('all() with one Zero:', all(set2))  # False
print('any() with one Zero:', any(set2))  # True

# checking with all true boolean
print('all() with all True values:', all(set3))  # True
print('any() with all True values:', any(set3))  # True

# checking with one false boolean
print('all() with one False value:', all(set4))  # False
print('any() with one False:', any(set4))  # True

# checking with all false values
print('all() with all False values:', all(set5))  # False
print('any() with all False values:', any(set5))  # False

all() With all true values: True
any() with all true Values: True
all() with one Zero: False
any() with one Zero: True
all() with all True values: True
any() with all True values: True
all() with one False value: False
any() with one False: True
all() with all False values: False
any() with all False values: False

In [ ]:
# In the case of a set with strings, it will compute the maximum/minimum value based on the ASCII Code.
set1 = {2, 4, 6, 10, 8, 15}
set2 = {'ABC', 'abc'}

# Max item from integer Set
print(max(set1))  # 15

# Max item from string Set
print(max(set2))  # abc

# Minimum item from integer Set
print(min(set1))  # 2

# Minimum item from string Set
print(min(set2))  # ABC

In [24]:
a = {'sarfraz'}
print(type(a))

<class 'set'>

In [15]:
a = set()
print(type(a))

<class 'set'>

In [14]:
a = {}
print(type(a))

<class 'dict'>

In [21]:
a = {'sarfraz':30}
print(type(a))

<class 'dict'>

# Frozen Set
- a frozenset is an immutable set. frozenset is an unordered collection of immutable unique items.
we can create a frozenset using the frozensetz() function which takes a singal iterable object as a parameter.
- when you want to create an immutable set that doesn't allow adding or removing items from a set.
- when you want to create a read-only set
- we can use union(|), intersection(&), difference(-), symmetric_difference(^)

In [5]:
frozen = ({'sarfraz', 30, 'ahmad'})
frozen.pop()
print(frozen)

print(type(frozen))

{'sarfraz', 30}
<class 'set'>

In [9]:
tuple1 = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
frozen = frozenset(tuple1)
print(type(frozen))
print(frozen)

<class 'frozenset'>
frozenset({'indigo', 'yellow', 'orange', 'blue', 'red', 'violet', 'green'})

In [10]:
tuple1 = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
frozen = frozenset(tuple1)
frozen.pop()
print(frozen)

AttributeError: 'frozenset' object has no attribute 'pop'

In [11]:
tuple1 = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
tp = ('khan', 30)
frozen = frozenset(tuple1,tp)
print(frozen)

TypeError: frozenset expected at most 1 argument, got 2

In [14]:
frozen1 = frozenset(('violet', 'indigo', 'blue', 'green'))
frozen2 = frozenset(('blue', 'green', 'red'))
frozen3 = frozen1.union(frozen2)
print(frozen3)

frozenset({'blue', 'red', 'indigo', 'violet', 'green'})

In [15]:
frozen1 = frozenset(('violet', 'indigo', 'blue', 'green'))
frozen2 = frozenset(('blue', 'green', 'red'))
frozen3 = frozen1.intersection(frozen2)
print(frozen3)

frozenset({'blue', 'green'})

In [16]:
frozen1 = frozenset(('violet', 'indigo', 'blue', 'green'))
frozen2 = frozenset(('blue', 'green', 'red'))
frozen3 = frozen1.difference(frozen2)
print(frozen3)

frozenset({'violet', 'indigo'})

In [17]:
frozen1 = frozenset(('violet', 'indigo', 'blue', 'green'))
frozen2 = frozenset(('blue', 'green', 'red'))
frozen3 = frozen1.symmetric_difference(frozen2)
print(frozen3)

frozenset({'indigo', 'red', 'violet'})

# Nested Sets

In [2]:
set1 = {'sarfraz', 30, 'ahmad',{'khan',1}}
print(set1)

TypeError: unhashable type: 'set'

In [10]:
set1 = {'sarfraz', 30, 'ahmad'}
set2 = {'khan', 1991, 'junaid'}
nestedset = set((frozenset(set1),frozenset(set2)))
print(nestedset)

{frozenset({'sarfraz', 'ahmad', 30}), frozenset({'junaid', 'khan', 1991})}

In [8]:
set1 = ('sarfraz', 30, 'ahmad')
set2 = ('khan', 1991, 'junaid')
nestedset = set((frozenset(set1),frozenset(set2)))
# print(nestedset)
for set3 in nestedset:
    print(set3)

frozenset({'sarfraz', 'ahmad', 30})
frozenset({'junaid', 'khan', 1991})

# Set Comprehension
- syntax : expression, iterable, condition
- set comprehension offers a shorter syntax when you want to create a new list based on the value of an existing set (iterables)

In [15]:
square_set = {var ** 2 for var in range(1, 10) if var % 2 == 0}
print(square_set)

{16, 64, 4, 36}

In [17]:
fruits = {'apple', 'banana', 'cherry', 'kiwi', 'mango'}
print({x for x in fruits if 'a' in x})

{'banana', 'mango', 'apple'}