# Set :
- Set is a collection which is Unordered, Mutable, Don't allow duplicate members, Unindxable, Heterogeneous.Set are created using curli brackets.{}
- Hashkey(algorithm) technique use in set data type.
- Insertion fast and Searching slow. Set it is unpredictible
- Don't support item assignment
- Set mutable but we can add or remove only we cannot modify item's value.

In [19]:
# create a set from a list
mylist = [10, 20, 30, 40, 10, 40, 10, 30]
myset = set(mylist)
print(myset)

{40, 10, 20, 30}

In [23]:
myset = {'sarfraz', 'ahmad', [10, 20, 30]}
print(myset)

TypeError: unhashable type: 'list'

In [48]:
# checking if an item exists in set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
if 'khan' in myset:
    print('hai')
else:
    print('nhi')
    
print('junaid' in myset)

hai
False

In [49]:
# len() return a count of total item in a set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
print(len(myset))

6

# Adding items to a set

In [56]:
# add() is used to add one item to the set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.add('sadik')
print(myset)

{'ahmad', 'sarfraz', 20, 'sadik', 10, 'khan', 30}

In [58]:
# update() is used to add multiple items to the set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update(['sadik', 'ashraf', 1, 2])
print(myset)

{1, 'ahmad', 2, 'sadik', 10, 'khan', 20, 'sarfraz', 30, 'ashraf'}

In [71]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update({'sadik', 'ashraf', 1, 2})
print(myset)

{1, 'ahmad', 2, 'sadik', 'ashraf', 10, 'khan', 20, 'sarfraz', 30}

In [70]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update(('junaid',))
print(myset)

{'ahmad', 'sarfraz', 20, 'junaid', 10, 'khan', 30}

In [4]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update(('junaid'))
print(myset)

{10, 'u', 20, 'ahmad', 'khan', 30, 'd', 'j', 'i', 'n', 'a', 'sarfraz'}

In [8]:
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.update('saud','k')
print(myset)

{10, 'k', 'u', 20, 'ahmad', 'khan', 30, 'd', 's', 'a', 'sarfraz'}

# Removing items from a set

In [11]:
# remove() is used to remove singal item if not present value will throw keyerror
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.remove(50)
print(myset)

KeyError: 50

In [12]:
# discard() is used to remove singal item if not present value will not throw any error
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.discard(50)
print(myset)

{'sarfraz', 20, 'ahmad', 10, 'khan', 30}

In [19]:
# pop() is used to delete any randome item from a set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.pop()
print(myset)

{20, 'ahmad', 10, 'khan', 30}

In [23]:
# clear() is used to remove all items from the Set. The output will be an empty set
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset.clear()
print(myset)

set()

In [24]:
# Delete entire set()
myset = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
del myset
print(myset)

NameError: name 'myset' is not defined

# Set operations

In [29]:
# union() is used all the items of both sets will be returned. only duplicate items will be dropped
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'junaid', 'sadik', 'ashraf'}
myset3 = {40, 50}
myset4 = myset1.union(myset2,myset3)
print(myset4)

{'junaid', 'ashraf', 40, 10, 'sadik', 50, 20, 'ahmad', 'sarfraz', 'khan', 30}

In [28]:
# or |  is used all the items of both sets will be returned. only duplicate items will be dropped
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {'junaid', 'sadik', 'ashraf'}
myset3 = {50, 40}
myset4 = myset1|myset2|myset3
print(myset4)

{'junaid', 'ashraf', 40, 10, 'sadik', 50, 20, 'ahmad', 'sarfraz', 'khan', 30}

In [32]:
# intersection() of two set will return only the common elements in both sets. the intersection can be done using the & operator
# and intersection() method
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 30}
myset3 = myset1.intersection(myset2)
print(myset3)

{10, 20, 30}

In [33]:
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 30}
myset3 = myset1&myset2
print(myset3)

{10, 20, 30}

In [5]:
# intersection_update() is used only common elements will be return  in the both set and update original set with common
# elements
myset1 = {'sarfraz', 10, 'ahmad', 20, 'khan', 30}
myset2 = {10, 20, 30}
myset1.intersection_update(myset2)
print(myset1)

{10, 20, 30}

In [24]:
a = {'sarfraz'}
print(type(a))

<class 'set'>

In [15]:
a = set()
print(type(a))

<class 'set'>

In [14]:
a = {}
print(type(a))

<class 'dict'>

In [21]:
a = {'sarfraz':30}
print(type(a))

<class 'dict'>