## join() 
- join() method Converts the elements of an iterable into a string
- syntax : string_name.join(iterable)    syntax : seperator.join(iterable)
- Iterable-object capable of returning it's member one at a time. for example: list, tuple, set, dictionary.

In [2]:
lst = ['S', 'A', 'R', 'F', 'R', 'A', 'Z']
str1 = ''.join(lst)
print(str1)
print(type(str1))

SARFRAZ
<class 'str'>

In [14]:
p_language = {'python', 'java', 'html'}
j = ' --> '
print(j.join(p_language))

python --> html --> java

In [20]:
dic = {'India':91, 'Pakistan':92, 'Afganistan':93}
j = '-'.join(dic)
print(j)

India-Pakistan-Afganistan

## Split()
- syntax :- string.split(separator, maxsplit)
- split() method breaks up a string at the specified separator, and returns a list
- seperator :- seperator for spilitin string. bydefault, whitespace is a seperator
- maxsplit :- how many splits to do.

In [4]:
msg = 'I want to become python program'
words = msg.split()
print(len(words))
print(words)

6
['I', 'want', 'to', 'become', 'python', 'program']

In [31]:
countries = 'India,Pakistan,Bangladesh,Nepal,Srilanka'
country = countries.split(',')
print(len(country))
print(country)
for country in country:
    print(country)

5
['India', 'Pakistan', 'Bangladesh', 'Nepal', 'Srilanka']
India
Pakistan
Bangladesh
Nepal
Srilanka

In [7]:
countries = 'India,Pakistan,Bangladesh,Nepal,Srilanka'
country = countries.split(',', 2)
print(country)

['India', 'Pakistan', 'Bangladesh,Nepal,Srilanka']

## replace()
- syntax :- string.replace(old, new)
- Returns a string where a specified value is replaced with a specified value

In [36]:
name = 'Sarfraz ahmad'
print(name.replace('ahmad', 'khan'))

Sarfraz khan

In [38]:
name = 'Sarfraz ahmad'
old = 'ahmad'
new = 'khan'
name1 = name.replace(old, new)
print(name1)

Sarfraz khan

### capitalize()
- Converts the first character to upper case

In [11]:
string1 = 'sarfraz ahmad khan'
first_capital = string1.capitalize()
print(first_capital)

Sarfraz ahmad khan

### casefold()
Converts string into lower case

In [10]:
string1 = 'SARFRAZ KHAN'
lower = string1.casefold()
print(lower)

sarfraz khan

### center()
- Returns a centered string

In [35]:
string1 = 'sarfraz ahmad khan'
a=string1.center(20)
print(a)

 sarfraz ahmad khan

### count()
- Returns the number of times a specified value occurs in a string

In [27]:
string1 = 'sarfraz ahmad khan'
a=string1.count('a')
print(a)

5

### encode()
- Returns an encoded version of the string

In [36]:
string1 = 'sarfraz ahmad khan'
a=string1.encode()
print(a)

b'sarfraz ahmad khan'