# Star Pattern

In [9]:
def star():
    for i in range (1,6):
        for j in range(i,6):
            print('*',end=" ")
        print()
star()

* * * * *
* * * *
* * *
* *
*

In [10]:
for i in range (1,6):
    for  j in range (1,i + 1):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [8]:
for i in range(1,6):
    for k in range(1,6-i):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [13]:
for i in range(1,6):
    for k in range(1,6-i):
        print(' ', end=' ')
    for j in range(1,(2*i-1)+1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [1]:
for i in range(5,0,-1):
    for k in range(1,6-i):
        print(' ', end=' ')
    for j in range(1,(2*i-1)+1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [6]:
# for i in range(1,50):
n = int(input('Enter Your Number\n'))
for row in range(n,0,-1):
    for column in range(1,row+1):
        print('*', end=' ')
    print()

Enter Your Number
5
* * * * *
* * * *
* * *
* *
*

In [3]:
n = 6
for row in range(1,n+1):
    for column in range(1,row+1):
        print('*', end='')
    print()
for row in range(n-1,0,-1):
    for column in range(1,row+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [15]:
n = int(input('Enter Your Number\n'))
for row in range(1,n):
    for column in range(row,6):
        print('*', end=' ')
    print()

Enter Your Number
6
* * * * *
* * * *
* * *
* *
*

# Arrow Pattern

In [16]:
def arrow(n):
    for i in range(n):
        if i == n-1:
            print((2*n) * '*', end='')
            print((i+1) * '*')
        else:
            print((2*n) * ' ', end='')
            print((i+1) * '*')
    for j in range(n-1, 0, -1):
        print((2*n) * ' ', end='')
        print(j * '*')
            
arrow(5)

          *
          **
          ***
          ****
***************
          ****
          ***
          **
          *