# Star Pattern

In [18]:
1
for i in range (5):
    for  j in range (i + 1):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [95]:
for i in range(1,6):
    for k in range(1,6-i):
        print(' ', end=' ')
    for j in range(1, i + 1):
        print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [11]:
n = int(input('Enter Your Number\n'))
for row in range(n,0,-1):
    for column in range(1,row+1):
        print('*', end=' ')
    print()

Enter Your Number
5
* * * * *
* * * *
* * *
* *
*

In [12]:
num = 5
for row in range(0, num):
    for j in range(0, num-row-1):
        print(end=' ')
        
    for j in range(0, row+1):
        print('*', end=' ')
    print('')

    *
   * *
  * * *
 * * * *
* * * * *

In [9]:
num = 5
for row in range(5, 0, -1):
    for column in range(0, num-row):
        print(end=' ')
    for column in range(0, row):
        print('*', end=' ')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [38]:
2
num = int(input('enter the number of rows:'))
k =1
for i in range (1, num+1):
    for  j in range (1, k+1):
        print('*', end=" ")
        
    k = k+2
    print()

enter the number of rows:5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [32]:
3
for i in range(1,6):
    for k in range(1,6-i):
        print(' ', end=' ')
    for j in range(1,(2*i-1)+1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [2]:
4
for i in range(5,0,-1):
    for k in range(1,6-i):
        print(' ', end=' ')
    for j in range(1,(2*i-1)+1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [1]:
n = 6
for row in range(1,n):
    for column in range(1, n-row):
        print('-', end='-')
    for column in range(1, 2*row):
        print('*', end=' ')
    print('')

--------*
------* * *
----* * * * *
--* * * * * * *
* * * * * * * * *

In [128]:
5
def pyramid(num):
    for row in range(num):
        print('-' *(num - row - 1) + '*-' *(row+1))
        
    for j in range(num-1, 0 , -1):
        print(' ' *(num-j) + '* ' *(j))
        
pyramid(5)

----*-
---*-*-
--*-*-*-
-*-*-*-*-
*-*-*-*-*-
 * * * *
  * * *
   * *
    *

In [9]:
6
def star():
    for i in range (1,6):
        for j in range(i,6):
            print('*',end=" ")
        print()
star()

* * * * *
* * * *
* * *
* *
*

In [3]:
n = 6
for row in range(1,n+1):
    for column in range(1,row+1):
        print('*', end='')
    print()
for row in range(n-1,0,-1):
    for column in range(1,row+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*****
****
***
**
*

# Arrow Pattern

In [8]:
def arrow(n):
    for i in range(n):
        if i == n-1:
            print((2*n) * '*', end='')
            print((i+1) * '*')
        else:
            print((2*n) * ' ', end='')
            print((i+1) * '*')
    for j in range(n-1, 0, -1):
        print((2*n) * ' ', end='')
        print(j * '*')
            
arrow(5)

          *
          **
          ***
          ****
***************
          ****
          ***
          **
          *

In [13]:
n = 8
asci = 65
for i in range(0,n):
    print((n-i-1)*'*', end="")
    for j in range(0, i + 1):
        print(chr(asci), end="-")
        asci += 1
    print()

*******A-
******B-C-
*****D-E-F-
****G-H-I-J-
***K-L-M-N-O-
**P-Q-R-S-T-U-
*V-W-X-Y-Z-[-\-
]-^-_-`-a-b-c-d-

In [29]:
a = 'SARFRAZ'
b = 2
for i in range(len(a)):
    for j in range(0, i+1):
        print(a[j], end=' ')
    print('')

S
S A
S A R
S A R F
S A R F R
S A R F R A
S A R F R A Z

In [80]:
a = 'SARFRAZ'
for i in range(len(a)):
    for k in range(1,len(a)-i):
        print(' ', end='-')
    for j in range(0, i + 1):
        print(j, end='-')
    print()

 - - - - - -0-
 - - - - -0-1-
 - - - -0-1-2-
 - - -0-1-2-3-
 - -0-1-2-3-4-
 -0-1-2-3-4-5-
0-1-2-3-4-5-6-

In [119]:
num = 65
for row in range(1,6):
    for col in range(1, 6-row ):
        print(' ', end=' ')
    for j in range(1, row+1):
        print(chr(num), end=' ')
        num += 1
    print('')

        A
      B C
    D E F
  G H I J
K L M N O

In [130]:
num = 65
for row in range(1,6):
    for col in range(1, row+1 ):
        print(chr(num), end=' ')
        num += 1
    print('')

A
B C
D E F
G H I J
K L M N O

In [9]:
s = 0
for i in range(-5, 5):
    s = s+i
    print(s)

-5
-9
-12
-14
-15
-15
-14
-12
-9
-5

In [6]:
print(chr(67))

C

In [9]:
x= int(input())
y = int(input())
z = int(input())
n = int(input())

print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

1
1
1
1
[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [21]:
a= int(input())
for i in range(a+1):
    for j in range(a+1):
        for k in range(a+1):
            if i+j+k !=a:
                print([i,j,k,], end=', ')

1
[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0], [1, 1, 1],

In [19]:
x= 1
y = 1
z = 1
n = 1
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k !=n:
                print(i,j,k, end=', ')

0 0 0, 0 1 1, 1 0 1, 1 1 0, 1 1 1,

### print A pattern

In [154]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3) and (col>0 and col<4)):
            print('*', end='')
        else:
            print(end=' ')
    print('')

 ***
*   *
*   *
*****
*   *
*   *
*   *