In [1]:
#Explicit continution
add = 10+20+\
      30+40+\
      50+60
print(add)

210

In [3]:
#Semicolon to seperate multiple statement
a = 6; b =8; c = 9
print(a*b+c)

57

In [6]:
#Implicit continution
add = (10+20+
      30+40+
      50+60)
print(type(add))

<class 'int'>

# Global Variables & Local Variables
A local variables that is accesseble inside a block of code only where is it declared it is not accessible from outside of the method.
A Global variables that is defined outside of the method that is accessible anywhere in the code file.

In [13]:
# local variables
def test1():
    price = 800
    print("value of price in test1 function :", price)
    
def test2():
    # variable is not defined
    print("value of price in test2 function:", price)
    
test2()

value of price in test2 function: 700

In [16]:
#global variables
price = 700
def test1():
    print("price in 1st function:",price)
def test2():
    print("price in 2nd function:",price)
    
test1()
test2()

price in 1st function: 700
price in 2nd function: 700

# Python Operator

In [24]:
# Addition +
a = 'sarfraz'
b = 'khan'
print(a,b)

sarfraz khan

In [32]:
# multiplication*
a = "khan"
print(a*3)

khankhankhan

In [35]:
a = 4
a **= 2
print(a)

16

# Logical not
The logical not operator returns boolean True if the expression is false

In [4]:
a = 'True'
if not a:
    print(a)
else:
    print('Do nothing')

Do nothing

In [11]:
print(not 1)
print(not 5)
print(not 0)

False
False
True

# Membership operator in & not in

In [12]:
my_list = [5, 15, 25, 30, 35]
number = 15
if number in my_list:
    print("Number is Present")
else:
    print("Number is not Present")

Number is Present

In [13]:
my_tuple = (10,20,30,40,50)
number = 60
if number not in my_tuple:
    print("Number is not present")
else:
    print("Number is present")

Number is not present

# Identity Operator, Reffrence Quality Operator, is . is not

# BITWISE OPERATOR

In [15]:
a = 7
b = 4
c = 9
print(a & b)

4

In [18]:
a = 7
print(~a)

-8

In [19]:
#BITWISE LEFT SHIFT
print(4<<2)

16

In [23]:
#BITWISE RIGHT SHIFT
print(4 >> 2 )

1

In [9]:
print(6*(2+12))

84