In [21]:
a=210
print(a)

210

In [6]:
a = [1,2,3]
b = a
b[0]=2
print(b)
print(a)

[2, 2, 3]
[2, 2, 3]

In [12]:
import copy
a = [1,2,3]
b = copy.copy(a)
b[0]=2
print(a)
print(b)

[1, 2, 3]
[2, 2, 3]

In [3]:
class Person:
    def __init__(self, name, age, profession):
        self.name = name
        self.age = age
        self.profession = profession
    def show(self):
        print("Name:", self.name, "Age:", self.age, "Profession:", self.profession)
    def work(self):
        print(self.name, "working as a", self.profession)
        
jessa = Person("Jessa", "20", "Software Engineer")
jessa.show()
jessa.work()

Name: Jessa Age: 20 Profession: Software Engineer
Jessa working as a Software Engineer

In [1]:
#Explicit continution
add = 10+20+\
      30+40+\
      50+60
print(add)

210

In [3]:
#Semicolon to seperate multiple statement
a = 6; b =8; c = 9
print(a*b+c)

57

In [4]:
#Implicit continution
add = (10+20+
      30+40+
      50+60)
print(add)

210

In [9]:
# Return Statement
def add(num1,num2):
    return num1 + num2
result = add(10,20)
print(result)

30

In [10]:
#Use import statement
import datetime
now = datetime.datetime.now()
print(now)

2022-05-24 20:05:56.007760

In [2]:
# Returns welcome message for a customer by customer name and location
def greet(name, region):
    message = get_message(region)
    return message + " " + name

#Return welcome message by location
def get_message(region):
    if (region == "USA"):
        return "Hello"
    elif (region == "India"):
        return "Namaste"
print(greet("Jessa", "India"))

Namaste Jessa

# Docstring comments

In [9]:
def bonus(salary):
    '''Calculate the bonus 10% of a salary.'''
    return salary * 10 / 100
print(bonus)

<function bonus at 0x0000018418FF1B40>

# Variable

## Concatenate variables

In [6]:
str = "sarfraz "
str = str + "Ahmad "
print(str + "Khan")

sarfraz Ahmad Khan

# List variables

In [13]:
# create list
my_list = ["Jessa", 10, 20, "Kelly", 15.7]
print(my_list)

# Accessing 1st Element of a list
print(my_list[0])

# Accessing last Element of a list
print(my_list[-1])

# Accessing chunks of list data
print(my_list[1:3])

# Modifying first element of a list
my_list[0] = "Emma"
print(my_list)

# add one more elements to a list
my_list.append(100)
print(my_list)
print(type(my_list).__name__)

['Jessa', 10, 20, 'Kelly', 15.7]
Jessa
15.7
[10, 20]
['Emma', 10, 20, 'Kelly', 15.7]
['Emma', 10, 20, 'Kelly', 15.7, 100]
list

# Packing Unpacking Variables

In [2]:
### Packing
a = 10; b = 20; c = 30; d = 40
tuple1 = (a,b,c,d)
print(tuple1)

(10, 20, 30, 40)

In [3]:
### Unpacking
tuple1 = (10,20,30,40)
a,b,c,d = tuple1
print(a,b,c,d)

10 20 30 40

# Global Variables & Local Variables
A local variables that is accesseble inside a block of code only where is it declared it is not accessible from outside of the method.
A Global variables that is defined outside of the method that is accessible anywhere in the code file.

In [13]:
# local variables
def test1():
    price = 800
    print("value of price in test1 function :", price)
    
def test2():
    # variable is not defined
    print("value of price in test2 function:", price)
    
test2()

value of price in test2 function: 700

In [16]:
#global variables
price = 700
def test1():
    print("price in 1st function:",price)
def test2():
    print("price in 2nd function:",price)
    
test1()
test2()

price in 1st function: 700
price in 2nd function: 700

# Python Operator

In [24]:
# Addition +
a = 'sarfraz'
b = 'khan'
print(a,b)

sarfraz khan

In [32]:
# multiplication*
a = "khan"
print(a*3)

khankhankhan

In [35]:
a = 4
a **= 2
print(a)

16

# Logical not
The logical not operator returns boolean True if the expression is false

In [4]:
a = 'True'
if not a:
    print(a)
else:
    print('Do nothing')

Do nothing

In [11]:
print(not 1)
print(not 5)
print(not 0)

False
False
True

# Membership operator in & not in

In [12]:
my_list = [5, 15, 25, 30, 35]
number = 15
if number in my_list:
    print("Number is Present")
else:
    print("Number is not Present")

Number is Present

In [13]:
my_tuple = (10,20,30,40,50)
number = 60
if number not in my_tuple:
    print("Number is not present")
else:
    print("Number is present")

Number is not present

# Identity Operator, Reffrence Quality Operator, is . is not

# BITWISE OPERATOR

In [15]:
a = 7
b = 4
c = 9
print(a & b)

4

In [18]:
a = 7
print(~a)

-8

In [19]:
#BITWISE LEFT SHIFT
print(4<<2)

16

In [23]:
#BITWISE RIGHT SHIFT
print(4 >> 2 )

1

In [26]:
print(6*(2+12))

84