- pip install mysql-connector-python
- from mysql import connector

In [23]:
import mysql.connector

In [26]:
db = mysql.connector.connect(host="localhost", user="root", passwd="root", database="pythondb", charset="utf8")
cursor = db.cursor()

#cursor.execute("CREATE TABLE Person (name VARCHAR(50), age smallint UNSIGNED, PersonID int PRIMARY KEY AUTO_INCREMENT)")

cursor.execute("DESCRIBE Person")
for i in cursor:
    print(i)

('name', b'varchar(50)', 'YES', '', None, '')
('age', b'smallint unsigned', 'YES', '', None, '')
('PersonID', b'int', 'NO', 'PRI', None, 'auto_increment')

In [21]:
#cursor.execute("INSERT INTO Person (name, age) VALUES('Sarfraz', 32)")
#db.commit()

In [22]:
cursor.execute("SELECT * FROM Person")
for i in cursor:
    print(i)

('Sarfraz', 32, 1)

In [3]:
import mysql.connector as db


connecter = db.connect(host="localhost", user="root", passwd="root", database="pythondb", charset="utf8")
cursor = connecter.cursor()
cursor.execute("SELECT * FROM PERSONS")
rec = cursor.fetchall()
r = cursor.rowcount
print(r)
# rec = cur.fetchone()
# rec = cur.fetchmany(1)
print(rec)

ProgrammingError: 1146 (42S02): Table 'pythondb.persons' doesn't exist

In [4]:
connecter = db.connect(host="localhost", user="root", passwd="@Khan1991", database="crud", charset="utf8")
cursor = connecter.cursor()
q1 = "INSERT INTO PERSONS VALUES({},'{}','{}','{}','{}')".format(1004, 'Sadik', 'Mansoori', 'Vikroli', 'Mumbai')
cursor.execute(q1)
connecter.commit()
connecter.close()

In [1]:
connecter = db.connect(host="localhost", user="root", passwd="@Khan1991", database="crud", charset="utf8")
cursor = connecter.cursor()
q2 = "UPDATE persons set personid={} where id=3".format(1003)
cursor.execute(q2)
connecter.commit()
connecter.close()

NameError: name 'db' is not defined