# List

In [43]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12]
blank = []
for i in list1:
    if i % 2==1:
        blank.append(i)
print(blank)

[1, 3, 5, 15, 9, 11]

In [1]:
def twoSum(nums, target):
    for i, num in enumerate(nums):
        for j in range(i + 1, len(nums)):
            if num + nums[j] == target:
                return [i, j]

lst = [3,5,7,9] 

twoSum(lst,16)

[2, 3]

In [7]:
lst=[12,3,4,5,6]
target=9
for i in range(len(lst)):
    print(i)
    for j in range(i+1,len(lst)):
        if lst[i]+lst[j]==target:
            print([i,j])

0
1
[1, 4]
2
[2, 3]
3
4

## How many idex to find

In [8]:
lst=[12,3,4,5,6,8]
target=9
for i in range (len(lst)):
    print(i)

0
1
2
3
4
5

In [12]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
for i in lst1:
    for j in lst2:
        n= i+j
    print(n)

9
10
11
12

# List Comprehension

In [8]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12]
print([number for number in list1 if number % 2==0])

[2, 4, 6, 8, 10, 12]

In [13]:
for i in range (1,11):
    print(f"5 X {i} = {5*i}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [61]:
def table(n):
    for i in range(1,11):
        if i==10:
             print(n," x ", i ," = ", n*i)
            
        else:
            print(n," x ", i ,"  = ", n*i)
table(4)

4  x  1   =  4
4  x  2   =  8
4  x  3   =  12
4  x  4   =  16
4  x  5   =  20
4  x  6   =  24
4  x  7   =  28
4  x  8   =  32
4  x  9   =  36
4  x  10  =  40

In [50]:
def table(n):
    for i in range(1,11):
        return(n," x ", i ,"  = ", n*i)
print(table(2))

(2, ' x ', 1, '  = ', 2)

# Generator yield

In [5]:
def square(i):
    i = 1
    while True:
        yield i*i
        i+=1
        
#print(type(var))
for j in square(1):
    if j>100:
        break
    print(j)

1
4
9
16
25
36
49
64
81
100

# Dictionary paractice

In [52]:
var = {"anam":20, "raza":21, "saurabh":22}
for i in var.items():
    print(i)

('anam', 20)
('raza', 21)
('saurabh', 22)

In [60]:
var = {"anam":20, "raza":21, "saurabh":22}
for x, y in var.items():
    print(x,y)

anam 20
raza 21
saurabh 22

In [2]:
var = {"anam":20, "raza":21, "saurabh":22}
var.update({"Nabeel":12})
print(var)

{'anam': 20, 'raza': 21, 'saurabh': 22, 'Nabeel': 12}

In [20]:
for i in range(1,5):
    for j in range(i,5):
        print('*',end=' ')
    print()

In [30]:
list1 = ['banana', 'buttere', 'cheese']
for j, i in enumerate (list1):
    print(j, i)

0 banana
1 buttere
2 cheese

In [41]:
list1 = [1,12,3,4,]
list1[1]=15
print(list1)

[1, 15, 3, 4]

In [62]:
lst = int(input())
lstt = []
for i in range (1,lst):
    
    if i % 2==0:
        lstt.append(i)
        print("even:")
    else:
        print('ode')
        
print(lstt)

6
ode
even:
ode
even:
ode
[2, 4]

In [2]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
n= int(input("Enter your number:\n"))

while n <= n:
    print(n)
    n = n+1

In [1]:
a = 'khan'
b = list(a)
print(b)

['k', 'h', 'a', 'n']

In [5]:
def check(string,substring):
    if string.find(substring)==-1:
        print("no this is no substring")
    else:
        print("susbtring is present")
string1 = "one two three"
sub1 = 'one'
check(string1,sub1)

susbtring is present

In [6]:
a = "racecar"
b = 
print(b)

NameError: name 'racecar' is not defined

In [10]:
def check(s1,s2):
    if (s2.count(s1)>0):
        print("valid")
    else:
        pass

s2 = "string available"
s1 = "string"
check(s1,s2)

valid

In [11]:
s1 = "Hello"
s2 = "Hell"
if s2 in s1:
    print()

In [12]:
### accessing dictionary using forloop
dic = {"ahmad":30, "sarfraz":"ahmad", "akram":30}
for z in dic:
    print(z,'=', dic[z])

ahmad = 30
sarfraz = ahmad
akram = 30

In [5]:
dic = {"ahmad":30, "sarfraz":"31", "akram":35}
print(dic)
a = dic['ahmad']
print(a)

{'ahmad': 30, 'sarfraz': '31', 'akram': 35}
30

In [2]:
dict1 = {'kamil':32, 'ali':38, 'majid':33}
l = dict1.get('ali')
print(l)

38

In [13]:
#forloop use only access value
dict1 ={'rais':35, 'irfan':30, 'hakim':33}
for x in dict1:
    print(x)

rais
irfan
hakim

In [15]:
 # forloop and value() method use to access only key
dict1 ={'rais':35, 'irfan':30, 'hakim':33}
for z in dict1.values():
    print(z)

35
30
33

In [30]:
# use forloop to access key and value
dict1 = {'ramzan':40, 'naeem':36, 'saudi':2013}
dict1['saudi']=2014
for x, y in dict1.items():
   
    print(x,y)

ramzan 40
naeem 36
saudi 2014

In [32]:
# len()method use in dictionary
dict1 = {'ramzan':40, 'naeem':36, 'saudi':2013}
o = len(dict1)
print("length of dictionary" o)

3

In [34]:
b = bytes([1,2,3,4])
print(b)

b'\x01\x02\x03\x04'

In [15]:
# loop question solve
x = 0
for i in range(10):
    for j in range(10):
        x+= 1
    print(x)

10
20
30
40
50
60
70
80
90
100

In [14]:
num = 10
sum = 0
i = 0
while i <= num:
    sum = sum + i
    i = i + 1
print(sum)

55

# sort this list of dictionary by year

In [8]:
cars = [{'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}]

print(sorted(cars,key=lambda i:i['year']))

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [13]:
cars = [{'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2019}]

print(sorted(cars,key=lambda i:(i['year'],i['car'])))

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'BMW', 'year': 2019}, {'car': 'VW', 'year': 2019}]

In [9]:
cars = [{'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}]
print(sorted(cars,key=lambda i:(i['car'],i['year'])))

[{'car': 'BMW', 'year': 2019}, {'car': 'Ford', 'year': 2005}, {'car': 'Mitsubishi', 'year': 2000}, {'car': 'VW', 'year': 2011}]

In [ ]:
cars = [{'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}]
cars.sort(lambda)

# Sort this list by length of string. min to max

In [17]:
def myfunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key.myfunc)

NameError: name 'key' is not defined

In [32]:
a = 14
b = 4
print(a and b)

4

In [33]:
a = 14
b = 4
print(a & b)

4

In [35]:
a = 8
b = 5
print(a or b)

8

In [36]:
a = 8
b = 5
print(a | b)

13

In [11]:
a = 8
b = 5
print(a,not b)

8 False

In [10]:
a = 100
print(~a)

-101

In [8]:
a = 5
b = 10
print(a ^ b)

15

In [1]:
# code execution flow in python
# step1 loading phase (stack memory)
# step2 start from __main__ method
# step3 Execution phase .firstfunc

def firstfunc():
    print('first')
    secondfunc()
    
def secondfunc():
    print('second')
    thirdfunc()
    
def thirdfunc():
    print('third')
    
firstfunc()

first
second
third

In [92]:
a = 0
if a :
    print('hi')
else:
    print('none')

none

In [59]:
a = [1,120,13,99,14,80,90]
a.sort()
for i in a:
    pass
print(i)

120